<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <!--  <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="/">
      <h2>JST</h2>
      <%# <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">HOME</a>
        <a class="nav-link" href="/features">AIRPORT TO HOTEL TRANSFERS</a>
        <a class="nav-link" href="#">EXCURSION TRIPS</a>
        <a class="nav-link" href="#">TAXI RATES</a>
      </div>
    </div>
  </div>
</nav>