<main class="contact-us">
    <h2 class="contact-title"> <hr> CONTACT US <hr> </h2>
    <%= link_to "ARRANGE A PRIVATE TRANSFER", transfer_path, class: "btn btn2 btn-warning" %>
    <%= link_to "ARRANGE AN EXCURSION", excursion_path, class: "btn btn2 btn-success" %>
    <p class="phone1"><i class="bi bi-telephone-fill"></i> 876 424-2916</p>
    <p class="phone2"><i class="bi bi-telephone-fill"></i> 876 434-3538</p>
    <p class="email1"><i class="bi bi-envelope-paper-fill"></i> smarttravel876@gmail.com</p>
</main>
